@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  /* Colors */
  --black: #353535;
  --green: #3c6e71;
  --white: #ffffff;
  --grey: #d9d9d9;
  --blue: #284b63;

  /* Color Usage */
  --backgroundColor: var(--grey);
  --textColor: var(--black);
  --accentColor: var(--green);
  --secondaryColor: var(--blue);

  /* Box Shadows */
  --shadow: 0 1px 1px rgba(0,0,0,0.25), 
            0 2px 2px rgba(0,0,0,0.20), 
            0 4px 4px rgba(0,0,0,0.15), 
            0 8px 8px rgba(0,0,0,0.10),
            0 16px 16px rgba(0,0,0,0.05);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--grey);
  color: var(--black);
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  line-height: 1.4;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'DM Sans', sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("public/header.jpg");
  color: var(--white);
  letter-spacing: 1rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  background-position: center;
  background-size: cover;
  padding: 3em 0;
}

header>*:first-child {
  margin-top: 0;
}

header>*:last-child {
  margin-bottom: 0;
}

footer {
  text-align: center;
  background-color: var(--secondaryColor);
  color: var(--white);
  padding: 1.5em 0;
}

footer>*:first-child {
  margin-top: 0;
}

footer>*:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--textColor);
  border-bottom: solid 3px var(--accentColor);
  transition: all 0.3s ease;
}

a:hover {
  font-weight: 500;
}

button, .btn {
  text-align: center;
  border: none;
  background-color: var(--accentColor);
  color: var(--white);
  padding: 0.75em 2em;
  border-radius: 100px;
  display: block;
  margin: 2em auto;
  transition: all 0.3s ease;
  box-shadow: var(--shadow);
}

button:hover, .btn:hover {
  opacity: 0.8;
  cursor: pointer;

}

.grid-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.bg-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 75%;
  background-color: var(--white);
  border-radius: .75rem;
  padding: 1.5em 0;
  position: relative;
  text-align: center;
  box-shadow: var(--shadow);
}

.modal-content input {
  width: 50%;
  font-size: 1rem;
  display: block;
  margin: 1.25em auto;
  border: solid 1px var(--grey);
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}

::placeholder {
  color: #bbb;
}

.close {
  position: absolute;
  top: 0;
  right: 0.5em;
  font-size: 2.5rem;
  transform: rotate(45deg);
  cursor: pointer;
  transition: all 0.3 ease;
}

.close:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }
  button {
    font-size: 20px;
  }
}