@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  /* Colors */
  --black: #353535;
  --green: #3c6e71;
  --white: #ffffff;
  --grey: #d9d9d9;
  --blue: #284b63;

  /* Color Usage */
  --backgroundColor: var(--grey);
  --textColor: var(--black);
  --accentColor: var(--green);
  --secondaryColor: var(--blue);

  /* Box Shadows */
  --shadow1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--grey);
  color: var(--black);
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  line-height: 1.4;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'DM Sans', sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("header.jpg");
  color: var(--white);
  letter-spacing: 1rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  background-position: center;
  background-size: cover;
  padding: 3em 0;
}

header>*:first-child {
  margin-top: 0;
}

header>*:last-child {
  margin-bottom: 0;
}

footer {
  text-align: center;
  background-color: var(--secondaryColor);
  color: var(--white);
  padding: 1.5em 0;
}

footer>*:first-child {
  margin-top: 0;
}

footer>*:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--textColor);
  border-bottom: solid 3px var(--accentColor);
  transition: all 0.3s ease;
}

a:hover {
  font-weight: 500;
}

button {
  text-align: center;
  border: none;
  background-color: var(--secondaryColor);
  color: var(--white);
  padding: 0.75em 2em;
  border-radius: 100px;
  display: block;
  margin: 2em auto;
  transition: opacity 0.3s ease;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;

}

.grid-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
  button {
    font-size: 20px;
  }
}